{
  "swagger": "2.0",
  "info": {
    "version": "0.8.3",
    "title": "API moveis",
    "description": "API de moveis."
  },
  "host": "apimoveis10-diegozigoto.b4a.run",
  "basePath": "/",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/moveis": {
      "get": {
        "description": "Lista os moveis do sistema",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Cadastra novo movel no sistema",
        "parameters": [
          {
            "name": "",
            "in": "body",
            "description": "Dados do movel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CadastrarMovel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/moveis/{id}": {
      "get": {
        "description": "Lista os moveis do sistema por id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "description": "Atualiza movel no sistema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "",
            "in": "body",
            "description": "Dados do movel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CadastrarMovel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "Exclui movel no sistema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    }
  },
  "definitions": {
    "CadastrarMovel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "example": 2328742312
        },
        "categoria": {
          "type": "string",
          "example": "Casa"
        },
        "tipo": {
          "type": "string",
          "example": "Madeira"
        },
        "preco": {
          "type": "number",
          "example": 135
        },
        "descricao": {
          "type": "string",
          "example": "Armario 3 portas"
        },
        "fabricante": {
          "type": "string",
          "example": "Tony Tornado"
        }
      }
    }
  }
}